<% title = "Dark Phoenix Bot | Commands" %>
<% include layout %>

<div class="content">
  <h1>Dark Phoenix Bot Commands</h1>
  <ul>
    <li><code>!help</code> - Show help menu</li>
    <li><code>!ban [user]</code> - Ban a user from the server</li>
    <li><code>!kick [user]</code> - Kick a user from the server</li>
    <li><code>!play [song]</code> - Play a song in the voice channel</li>
    <li><code>!weather [location]</code> - Get weather information</li>
    <!-- Add more commands here -->
  </ul>
</div>
