body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2c2f33;
    color: white;
}

header {
    background-color: #7289da;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #23272a;
    padding: 10px;
    text-align: center;
}

h1, h2, h3 {
    font-size: 24px;
    margin: 0;
}

#servers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.server-card {
    background-color: #36393f;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    color: white;
}

.server-card .buttons button {
    background-color: #7289da;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.server-card .buttons button:hover {
    background-color: #5b6eae;
}

footer p {
    font-size: 14px;
}
